@use '../../../styles/breakpoints' as bp;

.container {
  width: 90%;
  padding: 4rem;

  @include bp.tablet {
    width: 95%;
    padding: 2rem;
  }

  @include bp.mobile {
    width: 100%;
    padding: 1rem;
  }
}
