@use '../../../styles/breakpoints' as bp;

.section {
  padding: 4rem 0;
  width: 90%;
}

.sectionHeader {
  margin-bottom: 3rem;
  text-align: center;
}

.sectionTitle {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.sectionSubtitle {
  font-size: 1.125rem;
  color: var(--color-text-secondary);
  max-width: 37.5rem;
  margin: 0 auto;
}

@include bp.mobile {
  .section {
    padding: 3rem 0;
  }

  .sectionTitle {
    font-size: 2rem;
  }

  .sectionSubtitle {
    font-size: 1rem;
  }
}
