@use '../../../../styles/breakpoints' as bp;

.codingProfile {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  width: 100%;
}

.githubCard {
  grid-column: 1/4;
}

.leetCodeCard {
  grid-column: 4/5;
}

@include bp.tablet {
  .codingProfile {
    display: flex;
    flex-direction: column;
  }
}

@include bp.mobile {
  .codingProfile {
    display: flex;
    flex-direction: column;
  }
}
