@use '../../../../styles/breakpoints' as bp;

.codingProfile {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  min-width: 0;
  margin-top: -12rem;
}

@include bp.tablet {
  .codingProfile {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }
}

@include bp.mobile {
  .codingProfile {
    display: flex;
    flex-direction: column;
    margin-top: 0rem;
  }
}
