// Central breakpoint mixins
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1024px;

// Provide RGB helper for components that use --color-primary-rgb
@function rgb-var($name) {
  @return var($name);
}

@mixin mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}
