/* styles/NameAnimation.module.scss */
.name-animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, #3494e6, #ec6e4c);
    background-size: 400% 400%;
    animation: gradientAnimation 15s ease infinite;
  }
  
  .name-animation {
    font-size: 3rem;
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    animation: nameAnimation 4s infinite alternate ease-in-out;
  }
  
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  @keyframes nameAnimation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-20px);
    }
  }
  